@import "~bootstrap/scss/bootstrap-grid";
@import 'scss/sizes';
@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/buttons';
@import 'scss/forms';

//Modifie la taille du container sur écran large
@media screen and (min-width: 1500px){
  .container{
    max-width: 1540px;
  }
}

body, html{
  padding: 0;
  margin: 0;
}
header{
  background: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  h3{
    font-size: 25px;
  }
  .navigation{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
      list-style-type: none;
      margin: 0 15px;
      font-size: 18px;
      a{
        color: $sndcolor;
        text-decoration: none;
        position: relative;
        &::after{
          position: absolute;
          content: "";
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          transition: all .3s;
          height: 3px;
          bottom: -8px;
          background: $thirdcolor;
        }
        &:hover{
          color: $thirdcolor;
          &::after{
            width: 50px;
          }
        }
      }
    }
  }
  @media screen and (max-width:575px) {
    h3{
      font-size: 19px;
    }
    .navigation{
      li{
        font-size: 16px;
        margin: 0 8px;
      }
    }
  }
}
#top{
  min-height: 80vh;
  @media screen and (max-width: 991px){
    min-height: auto;
    margin-top: 76px;
  }
  .tags{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    li{
      list-style-type: none;
      background: #e5e5e5;
      padding: 5px 8px;
      margin: 5px 8px;
      border-radius: 5px;
      color: $sndcolor;
    }
  }
}
#portfolio{
  position: relative;
  .element{
    position: absolute;
    bottom: -104px;
    right: 60%;
    width: 700px;
    z-index: -1;
    svg{
      width: 700px;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  @media screen and (max-width: 991px) {
    .text-right{
      text-align: left;
      &.afterRight{
        padding-right: 0;
        padding-left: 20px;
        &::after{
          left: 0;
          right: auto;
        }
      }
    }
  }
  .projets{
    li{
      list-style-type: none;
      margin: 8px 0;
      text-align: right;
      span{
        padding: 7px 10px;
        transition: all .3s;
      }
      &.active{
        span{
          color: $thirdcolor;
          font-weight: 700;
        }
      }
      &:hover{
        span{
            cursor: pointer;
            background: #e5e5e5;
            color: $sndcolor;
            padding: 7px 10px;
            border-radius: 5px;
          }
        }      
    }
    @media screen and (max-width: 991px) {
      display: flex;
      li{
        text-align: left;
      }
    }
  }
  .explication{
    display: none;
    &.active{
      display: block;
    }
  }
  .details_projets{
    display: none;
    &.active{
      display: block;
    }
    .single_projet{
      background: #f5f5f5;
      padding: 20px 15px;
      border-radius: 5px;
    }
    .image{
      display: block;
      overflow: hidden;
      img{
        transition: all .3s;
      }
      &:hover{
        img{
          transform: scale(1.1);
        }
      }
    }
    .tags{
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      li{
        list-style-type: none;
        background: #e5e5e5;
        padding: 5px 8px;
        margin: 5px 8px;
        border-radius: 5px;
        color: $sndcolor;
      }
    }
  }
}

#parcours{
  padding-top: 74px;
  background: #f5f5f5;
  .item{
    margin-top: 28px;
    padding-left: 21px;
  }
  @media screen and (max-width:575px) {
    padding-top: 31px;
  }
}

footer{
  background-color: #eee;
}