.btn{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: fit-content;
    margin-top: 25px;
    transition: all .3s;
    text-decoration: none;
    &.btn_main{
        background: $maincolor;
        color: white;
        &:hover{
            background: $sndcolor;
        }
    }
    &.btn_main_outline{
        background: white;
        border: 1px solid $maincolor;
        color: $maincolor;
        &:hover{
            background: $maincolor;
            color: white;
        }
    }
}