$maincolor: #00BFA6;
$sndcolor:  #3f3d56;
$thirdcolor: #ff6584;

a{
    color: $maincolor;
}

h2{
    color: $sndcolor;
}
.white{
    color: white;
}
.maincolor{
    color: $maincolor;
}
.sndcolor{
    color: $sndcolor;
}
.thirdcolor{
    color: $thirdcolor;
}
.bgmain{
    background: $maincolor;
}
.bgsnd{
    background: $sndcolor;
}