html, body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 23px;
}

p, li, strong{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1{
    line-height: 48px;
    font-size: 50px;
    color: $maincolor;
    @media screen and (max-width: 1199px) {
        font-size: 38px;
    }
    @media screen and (max-width: 575px) {
        font-size: 33px;
        line-height: 39px;
    }
}

h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

h2{
    position: relative;
    padding-left: 20px;
    &::after{
        content: '';
        position: absolute;
        left: 0px;
        background-color: $maincolor;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        bottom: 5px;
    }
    &.afterRight{
        padding-left: 0;
        padding-right: 20px;
        &::after{
            right: 0;
            left: auto;
        }
    }
}

h4{
    font-size: 20px;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

hr{
    border: none;
    height: 2px;
    background-color: $thirdcolor;
    width: 100%;
}
