input{
    &[type=text], &[type=email]{
        height: 40px;
        padding: 5px;
        border: 1px solid $sndcolor;
        background: none;
        width: 100%;
        margin: 15px 0;
        &::placeholder{
            font-size: 15px;
        }
        &:focus{
            border: 1px solid $thirdcolor;
            border-radius: 0;
            outline: none;
        }
    }
    &[type=submit]{
        height: 40px;
        padding: 5px;
        width: 150px;
        font-size: 15px;
        background: $sndcolor;
        border: none;
        appearance: none;
        display: block;
        color: white;
        cursor: not-allowed;
        &:hover{
            background: $maincolor;
        }
        &.allowed{
            cursor: pointer;
            pointer-events: auto;
        }
        &:focus{
            border-radius: 0;
            outline: none;
        }
    }
    &[type=checkbox]{
        display: none;
    }
}
label{
    padding-left: 30px;
    display: block;
    position: relative;
    margin-bottom: 20px;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        border: 1px solid $maincolor;
        width: 20px;
        height: 20px;
    }
    &.checked{
        &::before{
            content: "";
            position: absolute;
            left: 3px;
            top: 6px;
            width: 14px;
            height: 14px;
            background: $maincolor;
        }
    }
}
textarea{
    width: 100%;
    border: 1px solid $sndcolor;
    font-family: 'Ubuntu', sans-serif;
    min-height: 200px;
    margin: 15px 0;
    &::placeholder{
        font-size: 15px;
        font-family: inherit;
    }
    &:focus{
        border: 1px solid $thirdcolor;
        border-radius: 0;
        outline: none;
    }
}

.reussi{
    color: $sndcolor;
}
.fail{
    color: $thirdcolor;
}